<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
       <div class="login-container">
           <form method="post" class="'login-form">
               <h2>Welcome Back</h2>
               {% with messages = get_flashed_messages(with_categories=true) %}
                  {% for category, message in messages %}
                     <div class="alert {{category}}">{{ message }}</div>
                  {% endfor %}
               {% endwith %}
               <input type="text" name="username" placeholder="Enter your username" required>
               <input type="password" name="password" placeholder="Password" required>
               <button type="submit">Login</button>
               <a href="/register">Sign up</a>
               <a href="/forgot">Forgot Password</a>
            
           </form>
       </div>
    </body>
</html>